.header{
	padding-inline: 20px;
	height: 50px;
	display: flex;
	align-items: center;
	box-shadow: var(--shadow);
	&_logo{
		font-weight: 700;
        font-size: 1.5rem;
		color: var(--primary-color);
	}
}