.canvas{
	width: 90%;
	height: 70vh;
	margin-inline: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	&_draw{
		image-rendering: pixelated;
		cursor: crosshair;
	}
}